.page-settings{
  left: 5px;
	position: fixed;
  top: 7px;
  z-index: 3;
}
.settings{
  background-color: white;
}
.dark .settings{
  background-color: black;
}
.settings-popover.popover{
  display: none;
  left: 4px;
  padding-bottom: 8px;
  top: 4px;
}
.open .settings{
  display: none;
}
.page-options{
  padding: 0 0 6px;
}
.open .settings-popover{
  display: block;
}
.page-options{
  padding: 0 0 12px;
}
.page-option-item{
  .m-fontSans400();
  .transition(all 0.2s ease);
  color: @gray;
  display: block;
  font-size: @fontSize-small;
  padding: 5px 0;
  text-decoration: none;
}
.page-option-item:hover{
  color: @gray-dark;
}
.page-option-item .icon{
  .transition(all 0.2s ease);
  display: inline-block;
  height: 30px;
  margin: 0 2px -5px 0;
  opacity: 0.4;
  padding: 3px 0;
  vertical-align: bottom;
  width: 30px;
}
.page-option-item:hover .icon{
  opacity: 0.8;
}
.dark .page-option-item{
}
.dark .page-option-item:hover{
  color: @gray-lightest;
}
.dark .page-option-item .icon{
  opacity: 0.6;
}
.dark .page-option-item:hover .icon{
  opacity: 1;
}


@media screen and (min-width: @width-tablet) {
  .page-settings{
    .transition(all 1s ease);
    opacity: 0;
  }
  .page-active .page-settings{
    .transition(all 0.2s ease);
    opacity: 1;
  }
}
